<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <body>
            <div class="container">
                <hr>
                <div class="card">
                    <div class="card-header">
                        <h2>Novo Artigo</h2>
                    </div>
                    <div class="card-body">
                        <form action="/articles/save" method="POST">
                            <input class="form-control" type="text" name="title"
                                placeholder="Defina o titulo do artigo">
                            <br>
                            <textarea name="body" class="form-control" placeholder="Escreva o artigo"
                                id="articles"></textarea>
                            <br>
                            <label>categorias</label>
                            <select name="category" class="form-control">
                                <% categories.forEach((category)=>{ %>
                                    <option value="<%= category.id %>">
                                        <%= category.title %>
                                    </option>
                                    <% }); %>
                            </select>
                            <br>
                            <button class="btn btn-primary">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </body>
        <script src="/tinymce/tinymce.min.js"></script>
        <script>
            tinymce.init({
                language: 'pt_BR',
                selector: "#articles",
                plugins: [
                    'advlist autolink link image lists print preview hr searchreplace wordcount fullscrean media save table insertdatetime paste emoticons'
                ]
            });
        </script>
        <%- include('../../partials/footer.ejs') %>